@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: montserrat, arial, verdana;
}

.sampleTitle {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  font-family: 'montserrat', sans-serif;
}

.commandVerticalSpacer {
  height: 1rem;
}

.commandBar {
  margin-top: 1rem;
}

.commandContainer {}

.command {}

  ul li {
      padding: 5px 0px;
  }

.commandButton {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 2rem;
  /*font-size: 1rem;*/
  border-radius: 5px;
}

.commandButtonHidden {
  display: none;
}

.showTraceContainer {
  padding-top: 1rem;
}

a.command:hover, a.command:visited, a.command:link, a.command:active {
  text-decoration: none;
  color: black;
}
